<!DOCTYPE html> 
<html> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>{{message|safe}}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com//mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1>fonoestafa</h1>
	</div>
	<div data-role="content">
		<h2>{{message|safe}}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla tristique lorem, non viverra dui tempus quis. Morbi egestas tellus justo. Nulla ac nisl at libero pretium auctor.</p>
	</div>
	<div data-role="footer">
		<h4>footer</h4>
	</div>
</div>
</body>
</html>
